name: CI Pipeline
on: [push, pull_request]

jobs:
  test-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'
          cache-dependency-path: apps/processor/go.sum

      - name: Run Go Tests
        run: go test -v ./...
        working-directory: apps/processor

  test-nextjs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        # Esto instalará todo el árbol del monorepo
        run: pnpm install 
      - name: Run Lint
        # Usamos --filter para decirle: "busca el script lint solo dentro de la app web"
        run: pnpm --filter web run lint