name: CI Pipeline
on: [push, pull_request]

jobs:
  test-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'
          cache-dependency-path: apps/processor/go.sum

      - name: Run Go Tests
        run: go test -v ./...
        working-directory: apps/processor

  test-nextjs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          # Eliminamos el cache por ahora para asegurar una instalación limpia
          
      - name: Install dependencies
        # Forzamos la instalación de todo el monorepo desde la raíz
        run: pnpm install --no-frozen-lockfile

      - name: Run Lint
        # La clave es ejecutar pnpm desde la raíz filtrando por el proyecto 'web'
        run: pnpm --filter web run lint